Repository helmutbolow/sudoku, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, ci, dependencies

fix: don't overwrite solved overlay content; best times now visible
  src/main.js
Labels: frontend

strict: reject wrong entries (do not insert) for keyboard and pad; lock correct entries; input-handler enforces strict
  src/ui.js
Labels: frontend

input: enforce requirement — correct digits lock (black), wrong digits stay red and editable for keyboard/pad/input; CSS prefills now black
  src/ui.js
  styles.css
Labels: frontend

feat: ignore auto-solve in best times; add score/IQ computation and store with records; show score/IQ on solved overlay
  src/main.js
Labels: frontend

ux: add segmented difficulty control; persist to localStorage; use UI difficulty throughout; style given (blue) vs user-correct (black) vs wrong (red)
  index.html
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

ux: refine segmented difficulty styling and ARIA; keep givens blue (.given), user-correct black (.prefill), wrong red (editable)
  src/main.js
  styles.css
Labels: frontend

ui: ensure segmented switch spans full row; reinforce mistake styling and add JS fallback to mark mistakes; keep strict visual feedback consistent
  src/main.js
  styles.css
Labels: frontend

strict: force all mismatches red in recompute; add rc/same-number highlight; prevent Solve from showing time/IQ or recording; make difficulty switch full-row; cache-bust already applied
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

chore: commit pending changes to index.html (cache-bust v=3 / difficulty segmented markup)
  index.html
Labels: frontend

/*'mistake'*/'invalid'
  src/ui.js
Labels: frontend

fix: persist strict mode mistakes
  src/main.js
Labels: frontend

style: format ui.js
  src/main.js
  src/ui.js
Labels: frontend

fix: mark strict mode mismatches
  src/main.js
  src/ui.js
Labels: frontend

main.js commented lines 428-432
  src/main.js
Labels: frontend

added input.readOnly = true; in line 13
  src/ui.js
Labels: frontend

"Strict-only Phase 3: recomputeValidity() uses solution only; remove conflict copy"
  .vscode/settings.json
  src/ui.js
Labels: frontend

Strict-only Phase 5: Solve uses solutionGrid only
  src/main.js
Labels: frontend

Strict-only Phase 6: history-based Undo; remove per-placement stack
  src/main.js
Labels: frontend

Strict-only Phase 6: history-based Undo; remove per-placement stack
  src/main.js
  src/ui.js
Labels: frontend

Strict-only Phase 7: remove dead imports/vars; simplify updateActionButtons; drop lockedIdx/buildBoard and guards
  src/ui.js
Labels: frontend

Fix numpad disable logic: use data-value; disable only when count >= 9
  src/ui.js
Labels: frontend

Strict-only Phase 9: copy consistency (Errors vs Attempts)
  src/main.js
Labels: frontend

Enable GitHub Pages (.nojekyll)
  .nojekyll
Labels: none

fix wrong bubbles kept in undo
  src/main.js
Labels: frontend

chore: format code with Prettier
  src/main.js
  src/ui.js
Labels: frontend

chore: format code with Prettier
  package-lock.json
  package.json
Labels: dependencies

score: calibrate IQ/score to expected times; time-equivalent penalties
  src/main.js
Labels: frontend

chore: test pre-commit hook with badly formatted file
  test-prettier.js
Labels: none

chore: remove test-prettier.js
  test-prettier.js
Labels: none

change favicon path to ref
  index.html
Labels: frontend

fix ios viewport
  index.html
  src/ui.js
  styles.css
Labels: frontend

add fix ios viewport
  styles.css
Labels: frontend

another try to fix ios mobile viewport
  styles.css
Labels: frontend

buttons outside of mobile viewport
  src/ui.js
  styles.css
Labels: frontend

another attempt to fix mobile viewport
  styles.css
Labels: frontend

anopther
  styles.css
Labels: frontend

new style.css
  styles.css
Labels: frontend

another try
  styles.css
Labels: frontend

correct style css now
  styles.css
Labels: frontend

another fix to mobile and desktop broken css
  styles.css
Labels: frontend

.github/labeler.yml:

frontend:
  - 'src/**'
  - 'index.html'
  - 'styles.css'

docs:
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'SECURITY.md'
  - '.github/ISSUE_TEMPLATE/**'
  - '.github/pull_request_template.md'

ci:
  - '.github/workflows/**'

dependencies:
  - 'package.json'
  - 'package-lock.json'
