Repository helmutbolow/sudoku, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, ci, dependencies

.github/labeler.yml:

frontend:
  - 'src/**'
  - 'index.html'
  - 'styles.css'

docs:
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'SECURITY.md'
  - '.github/ISSUE_TEMPLATE/**'
  - '.github/pull_request_template.md'

ci:
  - '.github/workflows/**'

dependencies:
  - 'package.json'
  - 'package-lock.json'

Difficulty confirm + revert → stops clock, Yes loads new puzzle, No reverts toggle and resumes clock appropriately
  src/main.js
Labels: frontend

deleted comments
  src/main.js
Labels: frontend

deleted comments
  src/ui.js
Labels: frontend

restart issue when solved
  src/main.js
Labels: frontend

Pause resuming issues fix
  index.html
  src/main.js
  src/ui.js
Labels: frontend

chore: format with prettier
  .prettierignore
  .prettierrc.json
  index.html
  src/generator.js
  src/main.js
  src/ui.js
Labels: frontend

prettier config 2
  .gitattributes
  .github/workflows/ci.yml
Labels: ci

test prettier
  src/main.js
Labels: frontend

chore: format with pinned Prettier
  package-lock.json
  package.json
  src/main.js
  styles.css
Labels: frontend, dependencies

chore: enforce LF via .gitattributes
  package.json
Labels: dependencies

test ci prettier 3
  src/main.js
Labels: frontend

chore: enforce LF via .gitattributes
  .prettierrc.json
Labels: none

chore: format with repo Prettier config
  src/main.js
Labels: frontend

chore: reformat with Prettier config
  .github/workflows/ci.yml
Labels: ci

test prettier in ci #4
  src/main.js
Labels: frontend

chore: reformat main.js with Prettier config
  src/main.js
Labels: frontend

test hook
  scratch.js
Labels: none

test: husky hook
  .husky/pre-commit
  package-lock.json
  package.json
Labels: dependencies

test: husky hook
  .husky/pre-commit
Labels: none

test prettier husky
  src/main.js
Labels: frontend

test prettier 6
  src/main.js
Labels: frontend

test husky clean hook
  scratch.js
Labels: none

restart issue regration after pause resuming issue fix fix
  src/main.js
Labels: frontend

attempt to change the css
  styles.css
Labels: frontend

final attempt css - never again!!!
  styles.css
Labels: frontend

Refactor CSS, remove duplications, and implement UX improvements
  styles.css.bak
Labels: none

Further UX improvements: consistent button scale, uniform board borders, and aligned layout
  styles.css
Labels: frontend

Implement thicker horizontal borders for 3x3 blocks
  styles.css
Labels: frontend

undo manus horizontal 3x3 tickness
  styles.css
Labels: frontend

UI teaks good enough
  styles.css
Labels: frontend

lighter dark mode
  styles.css
Labels: frontend

UI button borders lightened
  styles.css
Labels: frontend

new and restart after solve skip confirm
  src/main.js
Labels: frontend

impossible mode created
  index.html
  src/generator.js
  src/main.js
  src/pool.js
Labels: frontend

disabled btnrestart after solve pressed + changed empty count, hints and errs for all
  src/generator.js
  src/main.js
Labels: frontend

random hint + points count
  src/main.js
Labels: frontend

changed hl-smae color to warning
  styles.css
  styles.css.bak
Labels: frontend

CSS updates: review selected, same and mistakes accents and artifacts
  styles.css
Labels: frontend

removed restart button from game over overlay
  index.html
Labels: frontend

Add PRD for expanded puzzle generation
  prd.md
Labels: none
