Repository helmutbolow/sudoku, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, ci, dependencies

.github/labeler.yml:

frontend:
  - 'src/**'
  - 'index.html'
  - 'styles.css'

docs:
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'SECURITY.md'
  - '.github/ISSUE_TEMPLATE/**'
  - '.github/pull_request_template.md'

ci:
  - '.github/workflows/**'

dependencies:
  - 'package.json'
  - 'package-lock.json'

ci: disable auto Pages deploy (manual only) to stop failure emails on private repo
  .github/workflows/pages.yml
Labels: ci

ci: re-enable auto Pages deploy; skip gracefully on private repos
  .github/workflows/pages.yml
Labels: ci

ci: grant label sync permissions; style: format repo with Prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/labels.yml
  .github/workflows/pages.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  index.html
  package-lock.json
  src/main.js
  src/solver.js
  src/ui.js
  styles.css
Labels: frontend, docs, ci, dependencies

ci(pages): on private repos, upload preview artifact instead of failing deploy
  .github/workflows/pages.yml
Labels: ci

chore: enforce LF with .gitattributes and renormalize
  .gitattributes
Labels: none

chore: VS Code workspace settings to restrict Git scope and format on save
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

style: format with Prettier to satisfy CI
  .vscode/extensions.json
Labels: none

ci: harden Prettier workflow (concurrency, permissions, npm ci + cache)
  .github/workflows/ci.yml
Labels: ci

ci: add PR Preview workflow with artifact + comment; extend preview artifact retention; docs: README note for private previews
  .github/workflows/pages.yml
  .github/workflows/pr-preview.yml
  README.md
Labels: docs, ci

style(ci): format pr-preview workflow to satisfy Prettier
  .github/workflows/pr-preview.yml
Labels: ci

style: thicken 3x3 block borders via CSS variable
  styles.css
Labels: frontend

feat(theme): auto day/night by local time; style: stronger 3×3 and outer borders with distinct colors
  src/main.js
  src/theme.js
  styles.css
Labels: frontend

feat: random puzzle generator; wire to New button; fix formatting
  src/generator.js
  src/main.js
  src/theme.js
  styles.css
Labels: frontend

feat(ui): add difficulty selector (easy/medium/hard) with persistence; style select to match buttons
  index.html
  src/main.js
  styles.css
Labels: frontend

feat(ui): add number pad with available candidates; improve validation to include 3x3 blocks; styles for pad and selected cell
  src/ui.js
  styles.css
Labels: frontend

feat(ui): keyboard support — arrow navigation, number entry, delete/clear; auto-focus selected cell
  src/ui.js
Labels: frontend

feat(ui): notes (pencil marks) mode with toggle + keyboard; Home/End/PageUp/Down navigation; notes rendering; button state persistence
  index.html
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

feat(ui): Hint button and single-candidate autofill; style: Apple-inspired polish (accent, glass panel, shadows, transitions)
  index.html
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

feat(generator): set easy difficulty to 27 empties (fewer blanks)
  src/generator.js
Labels: frontend

feat(generator): enforce unique-solution puzzles; tune medium to 40 empties (easy 27, hard 54)
  src/generator.js
Labels: frontend

feat: async puzzle pool with cancelable overlay; cache puzzles; enforce invalid-entry lock; polish styling; prime pool on load
  index.html
  src/main.js
  src/pool.js
  src/ui.js
  styles.css
Labels: frontend

style: responsive Apple-like design — larger board, SF-style accents, scalable fonts, improved focus ring
  styles.css
Labels: frontend

fix(ui): prevent selection desync on invalid lock; add value pulse animation; improve numeric legibility; responsive Apple-like scaling
  src/ui.js
  styles.css
Labels: frontend

fix(ui): selection always forced to first cell — clear stale invalid lock on writeBoard; use local setStatus; compute candidates from DOM; stabilize pad update
  src/ui.js
Labels: frontend

fix(ui): lock to first invalid EDITABLE cell to avoid getting stuck on prefilled conflicts; keep UI responsive when guesses are consistent
  src/ui.js
Labels: frontend

feat(ux): replace Clear with Undo/Redo/Restart/Check; add history stack and keyboard shortcuts; store solution and original puzzle; happier colors + mistake highlight
  index.html
  src/main.js
  styles.css
Labels: frontend

ux: add Clear All action; enlarge digit size; stronger mistake highlight; wire clear-all; keep buttons enabled state accurate
  index.html
  src/main.js
  styles.css
Labels: frontend

fix(ux): switch to soft validation (no navigation lock), enlarge digit size further, add Clear All action; stabilize selection and status updates
  index.html
  src/ui.js
Labels: frontend

fix(ui): align header buttons with logic; add Clear/Undo/Redo/Restart/Check; status for Notes mode; allow Shift+number to place values while Notes ON
  index.html
  src/main.js
  src/ui.js
Labels: frontend

chore: remove notes feature entirely; simplify input handling; ensure initial puzzle matches selected difficulty; strengthen generator uniqueness with multi-attempts
  index.html
  src/generator.js
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

ux: remove Clear header; simplify pad (no per-cell disabling); realtime mistake marking using stored solution; initial load uses selected difficulty; cleanup notes remnants
  index.html
  src/main.js
  src/ui.js
Labels: frontend

ux: remove Redo/Check; implement placement-based Undo (clears last entry only); Hint consumes an error; dispatch detailed change events; maintain error counter in status
  index.html
  src/main.js
  src/ui.js
Labels: frontend

ux: show error details and flash on wrong input; prevent double-counting same wrong digit in same cell
  .vscode/settings.json
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

ux: show wrong digit briefly in cell; add error badge + game-over overlay; update status/badge consistently
  index.html
  src/main.js
  src/ui.js
  styles.css
Labels: frontend

feat: detect solved board on edits and hints; show solved overlay, stop clock, and disable inputs
  src/main.js
Labels: frontend

feat: attempts/hints badges + clock; fix off-by-one; store top 10 times per difficulty in localStorage; show best list on solved overlay
  src/main.js
Labels: frontend

strict: keep wrong digit visible in red; lock correct entries (readOnly + style)
  index.html
  src/ui.js
  styles.css
Labels: frontend

build: bust cache for CSS/JS (v=2)
  index.html
Labels: frontend

strict: persist wrong digits; lock correct entries globally; run solved check on Solve
  src/main.js
  src/ui.js
Labels: frontend

ui: update footer copyright; align header width to board; responsive actions grid; define board-size/pad variables
  index.html
  styles.css
Labels: frontend
